 <div class="row g-4">
        <div *ngFor="let category of allCategories" class="col-6 col-sm-4 col-md-4 mt-2 ">
            <a [routerLink]="['/products/Category', category._id]">
                <div class="p-3 product">
                    <img height="400px" class="w-100 rounded object-fit-cover" [src]="category.image" alt="">
                    <p class="text-center fw-bold mt-2">{{category.name}}</p>
                </div>
            </a>
        </div>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>