<div class="row g-0">
    <div class="col-md-9">
        <div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img height="400" class="object-fit-cover " src=" assets/images/main-slider-2.jpeg"
                        alt=""></ng-template>
                <ng-template carouselSlide><img height="400" class="object-fit-cover "
                        src=" assets/images/banner-4.jpeg" alt=""></ng-template>
                <ng-template carouselSlide><img height="400" class="object-fit-cover " src="assets/images/slide-2.jpeg "
                        alt=""></ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column ">
            <img height="200" class="object-fit-cover" src="assets/images/main-slider-1.jpeg" alt="">
            <img height="200" class="object-fit-cover" src="assets/images/main-slider-3.jpeg" alt="">
        </div>
    </div>
</div>